* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	-webkit-appearance: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #333;
}

#wrapper {
	max-width: 320px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: #ddd;
}

header {
	width: 100%;
	display: block;
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
}

header h1 {
	font-size: 1em;
	margin: 1em;
}

#posts-column {
	max-width: 640px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.post-container {
	display: block;
	margin: 1em auto;
	width: 100%;
	border: 1px solid #bbb;
	background: #fff;
	box-sizing: border-box;
}

.post-container .post-image {
	background-image: url('https://scontent-dft4-1.cdninstagram.com/t51.2885-15/e35/14726402_670367903…_4928013404909600768_n.jpg?ig_cache_key=MTM3OTMyMTIxNTQwNzEwOTk0Mg%3D%3D.2');
	display: block;
	width: 100%;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
}

.post-container .post-title {
	width: 90%;
	display: block;
	margin: 1em auto .5em;
}

.post-container .post-title a {
	transition: color .3s ease-out;
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-ms-transition: color .3s ease-out;
}

.post-container .post-title a:hover {
	color: #111;
	text-decoration: underline;
	cursor: pointer;
}

.post-container .post-text {
	display: block;
	width: 90%;
	text-align: justify;
	color: #555;
	font-size: .95em;
	margin: .5em auto 2em;
}

/*========================
UPLOAD
========================*/
.upload-container {
	margin-top: 55px;
	display: block;
	width: 100%;
	min-height: 100vh;
}

#image {
	display: none;
}

.upload-image-container {
	width: 100%;
	padding-bottom: 100%;
	display: block;
	height: 0;
	background: #999;
}

#title,
#text {
	width: 95%;
	display: block;
	font-size: 1em;
	background: none;
	border: none;
	margin: .2em auto;
}

#text {
	height: 150px;
	resize: none;
}
