<!doctype html>
<html>
	<head>
		<title>Abigail Wilkins</title>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Assess more meta things -->
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="/" id="logo">Abby Wilkins</a></h1>
				<nav>
					<ul>
						{% for nav_item in navigation %}
						<li><a href="{{ nav_item['link']  }}">{{ nav_item['text'] }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</header>
			<div class="post-column">
				{% for post in posts %}
				<div class="post-container">
					<div class="post-image" style="background-image: url('{{ post['image'] }}')"></div>
					<div class="post-likes"></div>
					<h2 class="post-title"><a href="{{ post['id'] }}" class="post-title-link">{{ post['title'] }}</a></h2>
					<span class="post-text">{{ post['text'] }}</span>
					<span class="post-comment-count"></span>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
