<!doctype>
<html>
	<head>
		<title>Upload | Abigail Wilkins</title>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="/">Abby Wilkins</a></h1>
			</header>
			<div class="upload-container">
				<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
					{{ form.hidden_tag() }}
					{{ form.image() }}
					<div class="upload-image-container">
						<label for="image">Upload Image</label>
					</div>
					{{ form.title(placeholder=form.title.label.text) }}
					{{ form.text(placeholder=form.text.label.text) }}
					<button type="submit" class="standard-button">Do the things!</button>
				</form>
			</div>
		</div>
		<script>
		$(function() {
			$("#image").change(function(){
				var reader = new FileReader();
				reader.onload = function(e) {
					$(".upload-image-container").css('background-image', e.target.result);
				};
				reader.readAsDataURL(this.files[0])
			});
		});
		</script>
	</body>
</html>
