<!doctype>
<html>
	<head>
		<title>Upload | Abigail Wilkins</title>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="/">Abby Wilkins</a></h1>
			</header>
			<div class="">
				<form action="" method="POST" enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					{{ form.image() }}
					{{ form.title(placeholder=form.title.label.text) }}
					{{ form.text(placeholder=form.text.label.text) }}
					<button type="submit" class="standard-button">Do the things!</button>
				</form>
			</div>
		</div>
	</body>
</html>
